In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("C:\GitHub\maleno\csv\weatherdata-404-38.csv", sep=",")

In [12]:
df.head()

,Date,Longitude,Latitude,Elevation,Max Temperature,Min Temperature,Precipitation,Wind,Relative Humidity,Solar
1/1/1979,-3.75,40.433601,577,9.718,7.128,1.733780,5.163229,0.855994,2.728407,NaN
1/2/1979,-3.75,40.433601,577,9.980,3.838,2.238464,1.855077,0.856815,8.804866,NaN
1/3/1979,-3.75,40.433601,577,8.930,2.561,5.245969,5.886357,0.923347,0.617175,NaN
1/4/1979,-3.75,40.433601,577,7.288,4.870,2.192113,5.598545,0.879617,3.607707,NaN
1/5/1979,-3.75,40.433601,577,7.113,1.502,0.058365,1.473567,0.857506,8.281462,NaN

In [13]:
fechas = pd.DataFrame({'Fecha':Date, 'Longitud':Longitude})

NameError: name 'Date' is not defined